@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --cor-de-fundo: #2C3333;
  --cor-cabecalho: rgba(0, 0, 0, 0.17);
  --cor-principal:#e7f6f2;
  --cor-secundaria: rgba(57, 91, 100, 0.7);
  --cor-terciaria: #395B64;
  --cor-quartearia: #a5c9ca;
  --cor-cinco:rgba(165, 201, 202, 0.7);
  --cor-do-rodape: #262a2a;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

.container{
  margin: 0;
  padding: 0;
  border: 0;
}


input[type="text"]::placeholder{
  color: var(--cor-cinco);
}
input[type="number"]::placeholder{
  color: var(--cor-cinco);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none; /* Esconde o ícone */
}

body {
  background-color: var(--cor-de-fundo);
  color:var(--cor-secundaria);
  font-family: Poppins;
}

.body-login {
  background-image: url('../img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.navbar {
  width: 100%;
  height: 8vh;
  background-color: var(--cor-cabecalho);
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  margin-bottom: 5vh;
  overflow-x: auto;
  transform: scale(1);
  z-index: 100; 
}

.navbar-brand{
  transform: translate( 5vh, 0vh);
  max-width: fit-content;
  max-height: fit-content;
  transform-origin: top left;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  transform-origin: top left;
  justify-content: center;
  align-items: center;  
  position: absolute;
  transform: scale(1);
  transform-origin: top left;


  margin: auto 25%;
}

.nav-link {
  font-size: 1.5vh;
  text-align: center;
  color: var(--cor-principal);
  text-decoration: none;
  padding: 0 1vh;
  transform: translate( 50%, 0vh);
  flex-shrink: 0;
  min-width: auto; 
  text-size-adjust: none; 
  margin-left: calc(10% / 10); 
  margin-right: calc(10% / 10); 
}

.nav-link:hover{
  color: var(--cor-terciaria);
  cursor: pointer;
}

#botaoSair{
  font-size: 1.5vh;
  text-align: center;
  color: var(--cor-principal);
  text-decoration: none;
  background-color: transparent;
}

#botaoSair:hover{
  color: var(--cor-terciaria);
  cursor: pointer;
}

.active-link{
  color: var(--cor-terciaria);
  text-decoration: underline;
}

.table-container {
  width: 80vw;
  height: 55vh; /* Altura fixa para o contêiner da tabela */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
  overflow-x: hidden; /* Oculta a rolagem horizontal */
  margin: 5vh auto; /* Margem automática para centralizar o contêiner */
  border-radius: 29px;
  background-color: rgba(231, 246, 242, 0.20);
}

.table {
  width: 100%; /* Ajusta a tabela para ocupar toda a largura do contêiner */
  table-layout: fixed; /* Define o layout fixo para a tabela */
  border-collapse: collapse; /* Remove espaçamento entre bordas */

}

.table thead {
  background-color: var(--cor-quartearia);
  color: var(--cor-principal);
  background-color: rgba(231, 246, 242, 0.20);
  font-weight: bold;
  border-radius: 29px;
}

.table th, .table td {
  padding: 1.5vh 2vh; /* Aumenta o espaçamento interno das células */
  border-bottom: 1px solid var(--cor-quartearia);
  text-align: center;
}

.table th {
  text-align: center;
}


.table tbody tr:hover {
  background-color: var(--cor-terciaria);
  color: var(--cor-principal);
  transition: background-color 0.3s ease-in-out;
}


.table button:hover {
  background-color: var(--cor-quartearia);
}


.botoes{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin: 14vh 0vh 0vh 13vh;
}

/*Alertas */
.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}