@import url(./App.css);



.menu.clientes {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  width: 54.3vh;
  height: auto;
  position: relative;
  justify-content: center;
 /* transform: translate( 100%, 1vh);*/
}

.form-control-first {
  width: 52vh;
  height: 5vh;
  gap: 25%;
  margin-left: 2%;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.3vh;
  font-weight: 800;
  text-align: center;
  position: center;
  border: 0.5vh solid;
  border-color: var(--cor-principal);
  color: var(--cor-quartearia);

}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10vh;
  position: relative;
  color: var(--cor-quartearia);
}

.button-row {
  position: absolute;
  bottom:26%;
  left: 105%;
}

.input-container {
  position: relative;
  width: 22vh;
}

.form-control-sub {
  width: 100%;
  height: 4vh;
  border-radius: 10px;
  border: 0.5vh solid var(--cor-principal);
  background-color: transparent;
  font-family: Poppins;
  font-size: 1.2vh;
  font-weight: 800;
  text-align: center;
  color: var(--cor-cinco);
  position: relative;
}


.label {
  position: absolute;
  top: -0.9vh;
  left: 20px;
  padding: 0 5px;
  color: var(--cor-terciaria);
  font-weight: 800;
  z-index: 1;
  background-color: var(--cor-de-fundo);
  background-size: 0px;
  font-size: 1.3vh;
}

.label.dois {
 left: 34vh;
}

.label.nome{
  top: -0.9vh;
  left: 30px;
}

td {
  height: fit-content;
}

.table-informacao-clientes {
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: --cor-de-fundo;
  border-bottom: --cor-quartearia;
  border-style: solid;
  margin-left: 7%;
}

.info-clientes {
  font-family: Poppins;
  font-size: 14px;
  text-align: center;
  color: --cor-quartearia;
}