@import url(./App.css);

.label.nome.pagamento{
top: -0.9vh;
}

.table-pagamentos{
  width: 160vh;
  height: 55vh;
  background-color:rgba(231, 246, 242, 0.20);
  border-radius: 29px;
  margin-left: 7%;
  margin-top: 5vh;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
}

.table-informacao-pagamentos{

  margin-top: 39px;
  font-size: 2vh;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20%;
  color:var(--cor-de-fundo);
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
}

.info-pagamentos{
  font-size: 20px;
  text-align: center;
  color: var(--cor-quartearia);
}