@import url('./App.css');

.login-container{
    width: 50vh; /* Ajuste a largura para o tamanho desejado */
    height: 60vh; /* Ajuste a altura para o tamanho desejado */
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto
}

